.account__container{
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0px;
	gap: 20px;
}
.account_profile{
	border: 2px solid silver;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	min-height: 20vh;
	padding: 20px;
}
.my_photo{
	gap: 20px;
}

.my_photo>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: aliceblue;
	box-shadow: 0px 0px 2px 3px rgb(0, 148, 7);
}


.my_photo,.my_info, .my_info>ul{
	width: 100%;
	display: flex;
	flex-direction: row;
}
/* .my_info{
	width: 100%;
} */
.my_info>ul{
	gap: 20px;
	justify-content: space-around;

}

.my_info>ul>a{list-style: none; text-decoration: none;color: inherit;font-size: 16px;}

.li_profile{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.li_profile>img{
	margin: 10px;
	height: 50px;
	width: 50px;
	padding: 5px;
	border-radius: 50%;
	background-color: aliceblue;
	box-shadow: 0px 0px 2px 2px rgb(0, 148, 7);
	object-fit: contain;
	overflow: hidden;
	margin-bottom: 20px;
}

.li_profile>h4{
	margin: 0;
	padding: 0;
	border: 0;
}

.li_profile:hover{
	transform: scale(1.1);
	transition: 0.8s;
}



.account_requests{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border: 2px solid silver;
	border-radius: 10px;
	min-height: 20vh;
	padding: 20px;
	width: 80%;
}

.account_requests> ul{
	display: flex;
	flex-direction: row;
	width:  100%;
	gap: 20px;
	justify-content: space-around;
	height: 100%;}

.account_requests> ul>a{list-style: none; text-decoration: none;color: inherit; font-size: 16px;}
.account_requests> ul>a>li{
	gap: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.li_pedidos>img{
	margin: 10px;
	height: 110px;
	width: 100px;
	padding: 5px;
	border-radius: 20%;
	background-color: aliceblue;
	box-shadow: 0px 0px 2px 2px rgb(0, 148, 7);
	object-fit: contain;
	overflow: hidden;

}

.li_pedidos>h4{
	font-size: 16px;
	font-weight: 500;
}
.li_pedidos:hover{
	transform: scale(1.1);
	transition: 0.8s;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3); /* escurece o fundo */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000; /* garantir que fique acima de tudo */
}

.modal-content {
	background-color: #ffffffb0;
	font-size: 16px;
	font-weight: 500;
	color: black;
	padding: 20px;
	border-radius: 10px;
	min-width: 70vw;
	min-height: 60vh;
	max-width: 600px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	z-index: 1001; /* acima do overlay */
}
