.event__container{
	display: flex;
	align-items: center;
	border: 2px solid silver;
	border-radius: 10px;
	margin: 10px;
	width: 100%;
}
.event__container a {
	font-style: none;
	text-decoration: none;
	color: inherit;
	display: inherit;
	flex-direction: inherit;
	align-items: inherit;
	height: 250px;

}
.event__container:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.imgEvent {
	width: 300px;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;

}
.imgEvent > img{
	width: 100%;
	object-fit: fill;
}

.event_contents{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height:90%;
	/* border: 1px solid red; */
}

.valor{
	display: flex;
	align-items: flex-end;
}
