<div class="resumo__container" *ngFor="let item of cartItems">
	<div class="resumo_imagem">
	  <img [src]="item.imagens ? item.imagens[0] : ''" [alt]="item.titulo">
	</div>
	<div class="resumo_info">
	  <h3>{{ item.titulo }}</h3>
	  <span *ngIf="item.detalhes">{{ item.detalhes.join(', ') }}</span>
	  <p>{{ formatBrl.formatBrl(item.qtd) }}</p>
	  <p>{{ formatBrl.formatBrl(item.preco * item.qtd) }}</p>
	</div>
	<div class="remove_button">
	  <button (click)="removeItem(item.id)">Remover</button>
	</div>
  </div>
