/* Container principal do Checkout */
.checkout__container {
	display: flex;
	justify-content: space-between;
	min-height: 77vh;
	padding: 20px 10px;
	flex-wrap: wrap; /* Adicionando flex-wrap para garantir que o conteúdo se ajuste em telas menores */
  }

  /* Lado esquerdo do Checkout */
  .left {
	display: flex;
	flex-direction: column;
	border: 3px solid silver;
	border-radius: 10px;
	justify-content: space-between;
	min-width: 60vw;
	padding: 15px; /* Adicionando padding para melhorar o espaçamento interno */
  }
  .checkout_street{
	min-height: 100px;

  }
  .checkout_payment{
	min-height: 100px;

  }
  .checkout_list{
	min-height: 300px;
	border: 2px solid red;

  }

  /* Lado direito do Checkout */
  .right {
	min-width: 30vw;
	height: auto; /* Ajustei para auto, para que o conteúdo se ajuste melhor */
	display: flex;
	flex-direction: column;
	border: 3px solid silver;
	border-radius: 20px;
	justify-content: start;
	padding: 15px;
  }

  /* Seção de Total */
  .checkout_total {
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  }

  /* Cards de resumo de produtos */
  .resumo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
	height: auto; /* Ajuste para que a altura seja dinâmica */
  }

  /* Conteúdo do resumo de preços */
  .contents {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-bottom: 10px;
	gap: 15px; /* Corrigido para manter o espaço entre os elementos */
	margin-top: 20px;
  }

  .contents div {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px;
	flex-direction: row;
  }

  /* Preço e quantidade */
  .contents h4 {
	font-size: 16px;
	font-weight: normal;
  }

  .resumo{
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;

  }


  .resumo > div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }

  .resumo > div>  h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 0px 20px;
	margin-top: 10px;
  }

  /* Botão de finalizar compra */
  .resumo > div> button {
	width: 100%;
	background-color: #0004ff;
	color: white;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	transition: background-color 0.3s;
  }

  .resumo > div> button:hover {
	background-color: #000294;
  }

  /* Responsividade para telas menores */
  @media (max-width: 768px) {
	.checkout__container {
	  flex-direction: column;
	}

	.left {
	  width: 90%;
	  margin-bottom: 20px;
	}

	.right {
	  width: 90%;
	}

	.checkout_street,
	.checkout_payment,
	.checkout_lis {
	  margin-bottom: 20px;
	}

	.checkout_total {
	  width: 100%;
	}

	.checkout_total button {
	  font-size: 14px;
	}

	.resumo {
	  margin-top: 20px; /* Espaçamento extra para se separar do total */
	}
  }
