.home__container {
	width: 100%;
	min-height: 80vh;
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	overflow: hidden;
  }

  .home_buttons {
	position: absolute; /* Para posicionar os botões na parte inferior */
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centraliza os botões */
	gap: 10px; /* Espaçamento entre os botões */
	flex-wrap: wrap; /* Permite que os botões se quebrem para a linha seguinte se necessário */
	z-index: 3;
	left: 10%; /* Fixa os botões à esquerda */
	bottom: 2%; /* Distância da parte inferior da tela */
  }

  .home_buttons button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 80px; /* A metade da largura da tela */
	height: 30px; /* A metade da largura da tela */

	font-size: 14px; /* Tamanho de texto pequeno */
	border: none; /* Remove borda */
	border-radius: 5px; /* Bordas arredondadas */
	cursor: pointer; /* Cursor de clique */
	opacity: 0.6; /* Opacidade inicial */
	box-shadow: 2px 2px 4px whitesmoke; /* Sombra leve para destaque */
  }

  .home_buttons button:hover {
	opacity: 1; /* Opacidade total quando passar o mouse */
	transform: scale(1.05); /* Aumenta o botão ligeiramente ao passar o mouse */
  }

  .home_buttons button:focus {
	outline: none; /* Remove a borda de foco padrão */
	box-shadow: 0 0 5px 2px rgba(0, 188, 119, 0.5); /* Destaque azul quando focado */
  }

