<div class="home__container">
	<div class="content">
		<div>
			<div class="bone_filter">
				<button *ngFor="let produto of produtos"
					(click)="selecionarBone(produto)"
					[class.active]="selectedBone?.cor === produto.cor"
					[ngStyle]="{ 'background-color': produto.cor.toLowerCase() }">
					<img [src]="produto.imagens[0]" alt="">
				</button>
			</div>

			<app-left
				*ngIf="selectedBone"
				[imgMockups]="selectedBone.imagens"
				[backgroundImage]="'assets/plataforma_digital.jpg'">
			</app-left>

		</div>

		<app-right
			*ngIf="selectedBone"
			[imgBack]="imgBack"
			[titulo]="selectedBone.titulo"
			[descricao]="selectedBone.descricao"
			[detalhes]="selectedBone.detalhes">
		</app-right>
	</div>
</div>
