<div class="right__container" [ngStyle]="getBackgroundStyle()">
	<div class="right_informations">
		<h1>{{titulo}}</h1>
		<p>{{descricao}}</p>
		<span>{{detalhes}}</span>
	</div>
	<div class="social-buttons">
		<a href="https://wa.me/1234567890" target="_blank" class="social-btn whatsapp">
		  <img src="assets/ico/whatsapp.ico" class="social-icone" alt="WhatsApp">
		</a>
		<a href="https://www.instagram.com/seu_perfil" target="_blank" class="social-btn instagram">
		  <img src="assets/ico/instagram.ico" class="social-icone" alt="Instagram">
		</a>
		<a href="https://www.facebook.com/seu_perfil" target="_blank" class="social-btn facebook">
		  <img src="assets/ico/facebook.ico" class="social-icone" alt="Facebook">
		</a>
	</div>

<div>
